/* Estilos generales del footer */
.footer {
    background-color: #212529; /* Color de fondo oscuro */
    color: white; /* Texto en blanco */
    text-align: center; /* Centrar texto */
    padding: 15px 0; /* Espaciado arriba y abajo */
    position: fixed;
    bottom: 0;
    width: 100%;
}