#header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 10px 0;
    text-align: center;
    z-index: 1000; /* Para que quede sobre el contenido */
}